html{
    margin: 0;
    height: 99%;
    /* min-height: 100%; */
}

main {
    --s: 80px; /* control the size*/
    --c1: #cd681d;
    --c2: #9acf49;
    
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,var(--c2) 68% 70%,#0000 72%;
    background:
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
      radial-gradient(var(--_g) 0    75%,var(--_c)) var(--s) var(--s)/var(--_s),
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
      radial-gradient(var(--_g) 0    75%,var(--_c)) 0 0/var(--_s),
      repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%) 0 0/var(--_s),
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s)
      var(--c1);
      height: 95%;
      min-height: 100%;
  }
  }
main {
    height: 100%;
    min-height: 100%;
	display: flex;
	flex-direction: column;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    height: 100%;
    min-height: 100%;
	display: flex;
	flex-direction: column;
    background-color: rgb(204, 102, 0)

}

 a:link {
    color: red;
    text-decoration: none;
}
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
  a:hover {
    color: hotpink;
    text-decoration: none;
}
a:active {
    color: rgb(15, 158, 91);
    text-decoration: none;
} 
p.time{
    color: rgb(92, 50, 92);
    font-weight: bold;
    font-family: cursive;
    font-size: 1.5em;
}
div.container {
	height: 100%;
    min-height: 100%;
	display: flex;
	flex-direction: column;
}
div.main{
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 25%;
    border-radius: 45px;
    text-align: center;
}
a.link {
    --s: 0.3em;   /* the thickness of the line */
    --c: hotpink; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
  }
    a.link:hover {--_p: 100%;
        color: hotpink;}
  
  a.link {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    cursor: pointer;
  }


  
